body {
    background-color: #eeeeee;
}

#controlsContainer {
	margin: 5px;
	padding: 30px;
  	border-radius: 5px;
  	background: #FFFFFF;
	border: 1px solid #000000;
  	height: auto;
}


#bigPlotContainer {
	margin: 5px;
	margin-right: 0px;
	padding: 0px;
  	border-radius: 5px;
  	background: #FFFFFF;
	border: 1px solid #000000;
  	height: auto;
}

#smallPlotContainer {
	margin: 5px;
	padding: 0px;
  	border-radius: 5px;
  	background: #FFFFFF;
	border: 1px solid #000000;
  	height: auto;
}


#tableContainer {
	margin: 5px;
	padding: 30px;
  	border-radius: 5px;
  	background: #FFFFFF;
	border: 1px solid #000000;
  	height: auto;
}